<div class="container mt-3">

    <div class="row">

        <div class="col-md-4 mb-3 px-0">

            <h2 class="text-center">Publicações</h2>

        </div>

        <div class="col-md-4 mb-3 px-0">

            <h2 class="text-center">Meus vínculos</h2>

        </div>

        <div class="col-md-4 mb-3 px-0">

            <h2 class="text-center">Minhas postagens</h2>

        </div>

    </div>

</div>









    {{!-- Cadastro --}}


    {{!-- Postagens --}}
