<div class="container-fluid px-0 col">
    <div class="row">
        <div class="col-12">
            <a href="/usuario" class="mt-3 text-center usuario-sidebar-btn">Tela inicial</a>
        </div>
        <div class="col-12">
            <a href="/usuario/meus-contatos" class="mt-3 text-center usuario-sidebar-btn">Meus contatos</a>
        </div>
        <div class="col-12">
            <a href="/usuario/minhas-postagens" class="mt-3 text-center usuario-sidebar-btn">Minhas postagens</a>
        </div>
        <div class="col-12">
            <a href="/usuario/minha-conta" class="mt-3 text-center usuario-sidebar-btn">Minha conta</a>
        </div>
        <div class="col-12">
            <a href="/logout" class="mt-3 text-center usuario-sidebar-btn">Sair</a>
        </div>
    </div>
</div>