<div class="container-fluid px-0 col">
    <div class="row">
        <div class="col-12">
            <button class="mt-3 usuario-sidebar-btn">Home</button>
        </div>
        <div class="col-12">
            <button class="mt-3 usuario-sidebar-btn">Minha conta</button>
        </div>
        <div class="col-12">
            <button class="mt-3 usuario-sidebar-btn">Meus contatos</button>
        </div>
        <div class="col-12">
            <button class="mt-3 usuario-sidebar-btn">Sair</button>
        </div>
    </div>
</div>